/*ICONS*/
/*GOOGLE ICONS*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
/*GOOGLE FONTS*/
/*ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*PLAYSTATION*/
@font-face {
    font-family: 'Zrnic';
    src: url('../font/zrnic_playstation-font.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    max-width: 2560px;
    margin: 0 auto;
}

a:link, a:visited{
    text-decoration: none;
    color: currentColor;
}

/* ========= HEADER ========= */
header{
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 7px 36px 2px rgba(41, 41, 41, 0.57);
    min-height: 84px;
    width: 100%;
    max-width: 2560px;
}

header section.left{
    display: flex;
    align-items: center;
    min-width: 30%;
    max-width: 30%;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

header section.left section.logo {
    min-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header section.left section.logo a#menu{
    display: none;
}

header section.left section.logo img{
    width: 300px;
}

header div{
    display: flex;
    justify-content: flex-end;
    min-width: 10%;
}

header section.left section div div.separador{
    width: 5px;
    height: 60px;
    background: linear-gradient(to bottom, #00205a, #002d81, #003597, #0040b8, #014fe0);
    border-radius: 20px;
}

header section.left section.logo span{
    padding: 10px;
    font-size: xx-large;
    border-radius: 100px;
}

header section.left section.logo span:hover{
    color: white;
    background: linear-gradient(to bottom, #001947, #00266b, #003087, #0040b8, #014fe0);
    transition: 0.7s ease;
    border-radius: 100px;
}

header nav{
    width: fit-content;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a{
    width: 250px;
    text-align: center;
    font-family: 'Zrnic';
    font-size: 1.9em;
}

header nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

header nav a .underline{
    height: 5px;
    border-radius: 5px;
    width: 180px;
}

header nav a:hover > .underline{
    background: linear-gradient(to right, #001947, #00266b, #003087, #0040b8, #014fe0);
}

/* ========= MAIN ========= */
/* ========= DISPLAY ========= */
.main section.display{
    height: 80lvh;
    width: 100%;
    display: flex;
}

.main section.display div.game {
    width: 25%;
    transition: 0.3s ease;
}

.main section.display div.image {
    height: 100%;
    background: center/cover no-repeat;
    box-shadow: -1px -2px 43px -4px rgba(0,0,0,1) inset;
}

.main section.display div section.info{
    height: 62px;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 18, 51, 0.9), rgba(0, 20, 56, 0.6), rgba(0, 28, 80, 0.05));
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    display: none;
}

.main section.display div section.info h3{
    font-size: 20px;
    font-weight: 400;
}

.main section.display div section.info span#year, .main section.display div section.info span#rating{
    font-size: 15px;
    font-weight: 300;
    color: rgb(216, 216, 216);
}



.main section.display div.image1 {
    background-image: url("../img/playstation-display1.jpg");
}

.main section.display div.image2 {
    background-image: url("../img/playstation-display2.jpg");
}

.main section.display div.image3 {
    background-image: url("../img/playstation-display3.jpg");
}

.main section.display div.image4 {
    background-image: url("../img/playstation-display4.jpg");
}

.main section.display div.game:hover{
    width: 60%;
    transition: 1s ease-in-out;
}

.main section.display div.game:hover > section.info{
    height: 62px;
    color: white;
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.9), rgba(37, 37, 37, 0.6) 40%, rgba(54, 54, 54, 0.1));
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}



/* ========= MEDIA QUERIES ========= */
@media (max-width: 1508px) {
    header nav a{
        width: 200px;    
    }
}

@media (max-width: 1326px) {
    header section.left section.logo img{
        width: 200px;
    }
}

@media (max-width: 1267px){
    header nav a{
        width: 170px;    
    }
}

@media (max-width: 1111px) {
    header section.left div, header nav {
        display: none;
    }

    header section.left{
        min-width: 100%;
    }

    header section.left section.logo{
        width: 100%;
        justify-content: space-between;
    }

    header section.left section.logo a#menu{
        display: inherit;
    }
}   