/*ICONS*/
/*GOOGLE ICONS*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
/*FONTS*/
/*URBANIST*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
/*ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/*XBOX FONT*/
@font-face {
    font-family: 'X360';
    src: url('../font/X360_xbox-font.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    max-width: 2560px;
    margin: 0 auto;
}
/*HEADER*/
header{
    background: #202325;
    height: 70px;
    font-family: 'X360';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

header figure{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
}

header figure a{
    position: relative;
    right: 90px;
    padding: 13px 15px;
    border-radius: 100px;
}

header figure a:hover{
    transition: 0.5s;
    color: #16a516;
    background-color: #333333;
}

#header-xbox_icon{
    margin: 10px 20px;
    padding-right: 70px;
    border-right: 3px solid grey;
    border-radius: 1px;
}

header figure a#menu{
    display: none;
}

header a.menu{
    padding: 10px;
    border-radius: 15px;
}

header a.menu:hover{
    background: linear-gradient(to right, #77bb44, #2ca243, #107c10);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

header a:link,a:visited{
    color: white;
    text-decoration: none;
}

/*MAIN*/
/* ========= INTRODUCCION ========= */
.introduccion{
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 1fr;
    min-height: 600px;
}

.introduccion aside{
    background-color: rgb(255, 36, 255);
    width: 100%;
}

.introduccion aside.hades{
    background-image: url(../img/xbox-introduccion-hades.jpg);
}

.introduccion aside.halo{
    background-image: url(../img/xbox-introduccion-halo.jpg_large);
}

.introduccion article{
    color: white;
    width: 100%;
    background-image: linear-gradient();
}

.bg-center-cover{
    background-position: center;
    background-size: cover;
}

.introduccion article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.introduccion article{
    padding: 20px 60px;
    background: linear-gradient(180deg, rgb(56, 56, 56) 0%, rgb(65, 65, 65) 25%, rgb(77, 77, 77) 50%, rgb(73, 73, 73) 75%, rgb(109, 109, 109) 100%);
}

.introduccion article p{
    font-family: 'Urbanist';
    font-size: 24px;
    line-height: 1.5em;
    height: 350px;
    text-align: justify;
}

/* ========= HISTORIA ========= */
.historia{
    padding: 10px;
    color: black;
    text-align: justify;
    font-family: 'Urbanist';
    font-size: 24px;
    background-color: rgb(255, 255, 254);
}

.historia .texto{
    width: 60%;
    margin: 0 auto;
}

.historia .texto h3{
    text-align: center;
    font-size: 60px;
}

.historia .texto h4{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}

.historia .texto p{
    padding: 20px;
    line-height: 40px;
    font-weight: 400;
}

/* ========= CONSOLAS ========= */
.consolas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.consolas table{
    font-family: 'Urbanist';
    border: 2px solid grey;
}

.consolas th{
    font-size: xx-large;
}

.consolas td{
    border-top: 1px solid grey;
    padding: 5px;
    font-weight: 400;
}

.imagen a{
    width: 100%;
    display: flex;
    justify-content: center;
}

.consolas td#info{
    font-weight: bold;
}

/* ========= TIENDA ========= */
.tienda{
    margin-top: 20px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.tienda h2{
    font-family: 'X360';
    font-size: 70px;
    animation: cambia-color 2s infinite;
}

@keyframes cambia-color {
    0% {
      color: #107C10; /* Verde oscuro */
      border-color: rgb(16, 124, 16);
    }
    50% {
        color: #7AB800; /* Verde medio */
        border-color: #7AB800;
    }
    100% {
        color: #107C10; /* Verde oscuro */
        border-color: #107C10;
    }
}

.tienda hr{
    margin: 0 150px;
    position: relative;
    border-top: 3px solid;
    animation: cambia-color 2s infinite;
}

.tienda .grid{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 10px 100px;
}

.tienda .grid .box{
    background-color: white;
    width: 290px;
    height: 420px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    border: 2px solid grey;
    font-family: 'Roboto';
    transition: 0.7s linear;
}

.tienda .grid .box:hover{
    transition: 0.7s ease;
    box-shadow: -20px 21px 0px -3px rgba(16,124,16,1);
    position: relative;
    bottom: 10px;
    left: 10px;
}


.tienda .grid .box h4{
    font-size: 25px;
    color: rgb(43, 43, 43);
}

.box .imagen{
    width: 90%;
    height: 350px;
    border-radius: 10px;
}

.tienda .grid .box .info{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tienda .grid .box .info .rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tienda .grid .box .info .rating span{
    font-size: 22px;
    font-weight: 700;
    color: rgb(101, 101, 101);
}

.tienda .grid .box .info span{
    font-size: 22px;
    font-weight: 900;
    color: rgb(57, 57, 57);
}

.minecraft .imagen{
    background: url(https://i.pinimg.com/originals/1b/9f/77/1b9f772d10ae2cfce18fab1b05705810.png);
    background-size: cover;
    background-position: center;
}

.hades .imagen{
    background: url(https://cdn1.epicgames.com/min/offer/1200x1600-1200x1600-e92fa6b99bb20c9edee19c361b8853b9.jpg);
    background-size: cover;
    background-position: center;
}

.doom .imagen{
    background: url(https://media.vandal.net/i/840x630/6-2019/201961213194638_1.jpg);
    background-size: cover;
    background-position: center;
}

.forza .imagen{
    background: url(https://www.ultimagame.es/forza-horizon-5/imagen-i18351-pge.jpg);
    background-size: cover;
    background-position: center;
}

.tienda a{
    display: flex;
    justify-content: center;
}

.tienda a:link,a:visited{
    text-decoration: none;
}

.tienda a button{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tienda a button{
    padding: 10px 35px;
    font-family: 'Roboto';
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #107c10;
    color: white;
    height: 50px;
}

.tienda a button:hover > span{
    animation: mover-flecha 0.7s ease infinite;
}

/* ========= FOOTER ========= */
footer{
    width: 100%;
    height: 90px;
    background-image: linear-gradient(rgb(37, 37, 37), rgb(34, 34, 34));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

footer .redes{
    display: flex;
    gap: 22px;
}

footer .autor{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}

footer .autor .nombre{
    font-family: 'Poppins';
    color: rgb(160, 154, 154);
    font-size: 25px;
}

footer .autor .nombre h5 span:hover{
    transform: 0.3s;
    cursor: pointer;
    color: rgb(250, 206, 30);
}

footer .redes a svg:hover, footer .autor .github a svg:hover{
    transition: 0.3s;
    stroke: rgb(250, 206, 30);
    transform: scale(1.2);
}

@keyframes mover-flecha{
    from{
        position: inherit;
    }
    to{
        position: relative;
        left: 13px;
    }
}

/*MEDIA QUERIES*/
@media (max-width: 1500px){
    /*Espaciado entre la flecha(atrás) y logo XBOX*/
    header figure a{
        right: 40px;
    }

    .tienda .grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
    }
}

@media (max-width: 1036px){
    /*Adaptación del texto de la introducción*/
    .introduccion article p{
        padding: 0;
    }
}

/*1er punto ruptura <header>*/
@media (max-width: 1215px){
    header a#consolas{
        display: none;
    }
    
    /*Espaciado entre borde xbox y los apartados(<a>)*/
    header figure{
        padding: 0 20px;
    }
}

/*2º punto ruptura <header*/
@media (max-width: 1065px){
    header figure{
        padding: 0 20px;
    }
    /*Espaciado entre la flecha(atrás) y logo XBOX*/
    header figure a{
        right: 15px;
    }
}

@media (max-width: 1000px){
    /*Adaptado <header> y .introducción*/
    header{
        justify-content: space-between;
    }

    header a.menu{
        display: none;
    }
    
    #header-xbox_icon{
        border: none;
        padding: 0;
    }

    header figure{
        width: 100%;
        justify-content: space-between;
    }

    header figure a{
        margin: 0 20px;
    }

    header figure a#menu{
        display: inherit;
    }

    .introduccion article{
        gap: 0;
        justify-content: space-between;
    }

    .introduccion article img{
        display: none;
    }

    .introduccion article p{
        font-size: 26px;
        height: fit-content;
    }

    /* TABLAS CONSOLAS*/
    .consolas{
        flex-direction: column;
    }

    .consolas table{
        margin: 0 auto;
        width: 500px;
    }
}