/*ICONS*/
/*GOOGLE ICONS*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
/*FONTS*/
/*URBANIST*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
/*XBOX FONT*/
@font-face {
    font-family: 'X360';
    src: url('../font/X360_xbox-font.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 2560px;
    margin: 0 auto;
}
/*HEADER*/
header{
    background: #202325;
    height: 70px;
    font-family: 'X360';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header figure{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
}

header figure a{
    position: relative;
    right: 90px;
    padding: 13px 15px;
    border-radius: 100px;
}

header figure a:hover{
    transition: 0.5s;
    color: #16a516;
    background-color: #333333;
}

#header-xbox_icon{
    margin: 10px 20px;
    padding-right: 70px;
    border-right: 3px solid grey;
    border-radius: 1px;
}

header figure a#menu{
    display: none;
}

header a.menu{
    padding: 10px;
    border-radius: 15px;
}

header a.menu:hover{
    background: linear-gradient(to right, #77bb44, #2ca243, #107c10);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

header a:link,a:visited{
    color: white;
    text-decoration: none;
}

/*MAIN*/
.introduccion{
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 1fr;
    min-height: 600px;
}

.introduccion aside{
    background-color: rgb(255, 36, 255);
    width: 100%;
}

.introduccion aside.hades{
    background-image: url(../img/xbox-introduccion-hades.jpg);
}

.introduccion aside.halo{
    background-image: url(../img/xbox-introduccion-halo.jpg_large);
}

.introduccion article{
    width: 100%;
    background-image: linear-gradient();
}

.bg-center-cover{
    background-position: center;
    background-size: cover;
}

.introduccion article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.introduccion article{
    padding: 20px 60px;
    background: linear-gradient(180deg, rgb(56, 56, 56) 0%, rgb(65, 65, 65) 25%, rgb(77, 77, 77) 50%, rgb(73, 73, 73) 75%, rgb(109, 109, 109) 100%);
}

.introduccion article p{
    font-family: 'Urbanist';
    font-size: 24px;
    line-height: 1.5em;
    height: 350px;
    text-align: justify;
}

/*MEDIA QUERIES*/
@media (max-width: 1500px){
    /*Espaciado entre la flecha(atrás) y logo XBOX*/
    header figure a{
        right: 40px;
    }
}

@media (max-width: 1036px){
    /*Adaptación del texto de la introducción*/
    .introduccion article p{
        padding: 0;
    }
}

/*1er punto ruptura <header>*/
@media (max-width: 1215px){
    header a#consolas{
        display: none;
    }
    
    /*Espaciado entre borde xbox y los apartados(<a>)*/
    header figure{
        padding: 0 20px;
    }
}

/*2º punto ruptura <header*/
@media (max-width: 1065px){
    header figure{
        padding: 0 20px;
    }
    /*Espaciado entre la flecha(atrás) y logo XBOX*/
    header figure a{
        right: 15px;
    }
}

@media (max-width: 1000px){
    /*Adaptado <header> y .introducción*/
    header{
        justify-content: space-between;
    }

    header a.menu{
        display: none;
    }
    
    #header-xbox_icon{
        border: none;
        padding: 0;
    }

    header figure{
        width: 100%;
        justify-content: space-between;
    }

    header figure a{
        margin: 0 20px;
    }

    header figure a#menu{
        display: inherit;
    }

    .introduccion article{
        gap: 0;
        justify-content: space-between;
    }

    .introduccion article img{
        display: none;
    }

    .introduccion article p{
        font-size: 26px;
    }
}